/* Font family*/
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_blod';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0;
}
html {
  font-size: 10px;
}
p {
  font-family: 'ProximaNova_reg', sans-serif;
  color: #999999;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.container {
  width: 1144px;
  margin: 0 auto;
}
.button {
  background-color: #4985ff;
  color: #ffffff;
  font-family: 'ProximaNova_reg', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.5rem 3.5rem;
  border: none;
  border-radius: 3rem;
  outline: 0;
}
.button:hover {
  cursor: pointer;
  background-color: #2f74ff;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header hr {
  margin: 0;
  width: 100%;
}
.main {
  background: url('../img/bg.png') center center no-repeat;
  background-size: cover;
  padding: 2rem 0 0rem;
}
.main-menu {
  margin: 2.5rem 0rem 4.5rem;
}
.main-menu-text {
  text-decoration: none;
  margin-left: 40px;
  font-size: 16px;
  font-family: 'ProximaNova_reg', sans-serif;
  color: #ffffff;
  margin-top: 45;
  margin-bottom: 45;
}
.main-preview {
  text-align: center;
  color: #ffffff;
}
.main-preview h2 {
  margin-top: 22rem;
  margin-bottom: 2rem;
  font-family: 'ProximaNova_reg', sans-serif;
  font-weight: 100;
}
.main-preview h1 {
  text-align: center;
  margin: 0 auto;
  font-family: 'ProximaNova_blod', sans-serif;
  font-weight: bold;
  font-size: 4.8rem;
  width: 83rem;
  line-height: 6.3rem;
}
.main-btn {
  margin: 5rem 0rem 33.5rem;
}
.services {
  text-align: center;
  margin-bottom: 8.5rem;
}
.services-head {
  width: 74rem;
  margin: 0 auto;
}
.services-head h2 {
  text-align: center;
  font-family: 'ProximaNova_blod', sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  color: #323232;
  margin: 11rem auto 4rem;
  line-height: 5.2rem;
}
.services-head p {
  text-align: center;
  font-family: 'ProximaNova_reg', sans-serif;
  color: #999999;
  font-size: 1.6rem;
  margin: 0rem auto 7rem;
  line-height: 2.5rem;
}
.services-item {
  display: flex;
  justify-content: space-between;
}
.services-item .item img {
  float: left;
  width: 11rem;
  height: 11rem;
}
.services-item .item p {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.4rem;
  width: 29.8rem;
  height: 8.3rem;
}
.services-item .item p strong {
  font-size: 1.8rem;
  color: #323232;
}
.services-btn {
  margin: 5.5rem 0rem 0rem;
}
.info {
  background-color: #f5f5f5;
}
.info-pic {
  padding-top: 10rem;
  margin-bottom: 12rem;
}
.info-pic img {
  z-index: 99;
  width: 50rem;
  height: 40rem;
  float: right;
}
.info-pic h2 {
  font-family: 'ProximaNova_reg', sans-serif;
  color: #323232;
  font-size: 3.6rem;
  line-height: 5.2rem;
}
.info-pic p {
  line-height: 2.5rem;
}
.info-pic a {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.6rem;
  color: #4985FF;
}
.info hr {
  border: 1px solid #E0E0E0;
}
.info-item {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
}
.info-item .item {
  display: inline-flex;
  align-items: center;
}
.info-item .item figcaption {
  font-size: 3.6rem;
  font-family: 'ProximaNova_reg', sans-serif;
  margin-left: 2rem;
  font-weight: 100;
}
.info-item .item h3 {
  display: flex;
}
.info-item .h3 {
  display: flex;
}
.info-out {
  display: flex;
  justify-content: space-around;
  padding-bottom: 7rem;
}
.info-out p {
  font-family: 'ProximaNova_reg', sans-serif;
  width: 10.04rem;
  margin: 0;
}
.works {
  background: linear-gradient(180deg, #553ac1 55.44%, #ffffff 0%), #c4c4c4;
}
.works-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: 7rem;
}
.works-header h2 {
  font-family: 'ProximaNova_blod', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5.2rem;
  margin: 0;
}
.works-btn {
  text-transform: none;
  padding: 1.5rem 5.5rem;
}
.works-item {
  display: flex;
  justify-content: space-between;
}
.works-item p {
  width: 35rem;
}
.works-item b {
  color: black;
}
.works-item h3 {
  font-family: 'ProximaNova_reg', sans-serif;
  color: #999999;
  font-size: 1.6rem;
  margin: 3rem 0;
  color: #4985FF;
  margin-bottom: 3rem;
}
.works-item a {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.6rem;
  color: #4985FF;
}
.works hr {
  border: 1px solid #E0E0E0;
  margin: 8.5rem 0rem;
}
.projects {
  background: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}
.projects-head {
  text-align: center;
}
.projects-head h2 {
  font-family: 'ProximaNova_blod', sans-serif;
  font-weight: bold;
  font-weight: 800;
  font-size: 3.6rem;
  color: black;
  margin-top: 0;
  line-height: 5.2rem;
  padding-top: 10rem;
  margin-bottom: 4rem;
}
.projects-head p {
  margin: 0 0 6rem;
}
.projects-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.projects-item img {
  width: 25.5rem;
  height: 25.5rem;
}
.projects-btn {
  margin-bottom: 13rem;
}
.video {
  background: url(../img/bgvideo.png) top center no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
}
.video-header {
  text-align: center;
}
.video-header h2 {
  font-family: 'ProximaNova_reg', sans-serif;
  padding-top: 7rem;
  margin: 0;
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
}
.video-header p {
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 7rem;
  margin: 0;
}
.video-link {
  margin-bottom: 8.5rem ;
}
.video hr {
  border: 1px solid #E0E0E0;
}
.email {
  text-align: center;
  margin-bottom: 2rem;
}
.email-header h2 {
  font-family: 'ProximaNova_reg', sans-serif;
  padding-top: 7rem;
  margin: 0;
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
}
.email-input input {
  border: #f5f5f5 solid 1px;
  border-radius: 3rem;
  outline: 0;
  padding: 1.3rem 15rem 1.3rem 3rem;
  box-shadow: -1px 1px 24px -11px #000000;
}
.email-input p {
  font-size: 1.3rem;
}
.email-btn {
  position: absolute;
  font-size: 1.5rem;
  text-transform: none;
  padding: 1.3rem 3rem 1.2rem 3rem;
  transform: translateX(-100%);
  box-shadow: 1px 1px 24px -11px #000000;
}
